#!/usr/bin/env python
PACKAGE = "aerial_robot_control"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

level = 0  # NMPC computes an internal per-field change mask; dynamic_reconfigure levels are OR masks.

gen.add("nmpc_flag", bool_t, level, "Apply staged NMPC tuning values; while enabled, updates are live", False)
gen.add("Qp_xy", int_t, level, "Position/position-stiffness weight in x and y", 300, 0, 2000)
gen.add("Qp_z", int_t, level, "Position/position-stiffness weight in z", 400, 0, 2000)
gen.add("Qv_xy", int_t, level, "Velocity/position-damping weight in x and y", 10, 0, 200)
gen.add("Qv_z", int_t, level, "Velocity/position-damping weight in z", 10, 0, 200)
gen.add("Qq_xy", int_t, level, "Orientation/orientation-stiffness weight in x and y", 300, 0, 2000)
gen.add("Qq_z", int_t, level, "Orientation/orientation-stiffness weight in z", 300, 0, 2000)
gen.add("Qw_xy", int_t, level, "Angular-velocity/orientation-damping weight in x and y", 5, 0, 100)
gen.add("Qw_z", int_t, level, "Angular-velocity/orientation-damping weight in z", 5, 0, 100)
gen.add("Qa", int_t, level, "Servo-angle state weight", 1, 0, 10)
gen.add("Rt", int_t, level, "Rotor-thrust input weight (non thrust-state models)", 1, 0, 10)
gen.add("Rac_d", int_t, level, "Servo-command input weight", 250, 0, 2000)

gen.add("Qt", int_t, level, "Rotor-thrust state weight (thrust-state models only)", 1, 0, 10)
gen.add("Rtc_d", int_t, level, "Rotor-thrust-command input weight (thrust-state models only)", 1, 0, 10)

gen.add("pMxy", double_t, level, "Position virtual mass in x and y (impedance models only)", 1.5, 0, 10)
gen.add("pMz", double_t, level, "Position virtual mass in z (impedance models only)", 1.5, 0, 10)
gen.add("oMxy", double_t, level, "Orientation virtual mass in x and y (full impedance models only)", 0.9, 0, 10)
gen.add("oMz", double_t, level, "Orientation virtual mass in z (full impedance models only)", 0.9, 0, 10)

gen.add("enlarge_factor", double_t, level, "Impedance cost enlarge factor (supported impedance models only)", 1, 1, 200)

exit(gen.generate(PACKAGE, "aerial_robot_control", "NMPC"))
